{% extends 'webapp/base.html' %}

{% block content %}

<body>

<br>
<br>

<div class="text-center ">
    <h3>TUSHARX</h3>

    <br>

    <h5> TUSHARX is a dynamic web application designed to streamline and enhance the user management experience. It allows administrators and users to easily manage personal records, update their information, and access crucial details through an intuitive and interactive dashboard. The application is built with modern technologies, offering a user-friendly interface, responsive design, and real-time functionality. </h5>

    <hr>

    <br>

    
    
</div>
</body>

{% endblock %}